/*==============================================*/
/*================ Colors ======================*/
/*==============================================*/
/*==============================================*/
/*================= Fonts ======================*/
/*==============================================*/
@font-face {
  font-family: 'machinescript';
  src: url("../fonts/machinescript.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 43, styles.scss */
.icon-ccw:before {
  content: '\e800';
}

/* '' */
/* line 44, styles.scss */
.icon-menu:before {
  content: '\e801';
}

/* '' */
/* line 45, styles.scss */
.icon-star:before {
  content: '\e802';
}

/* '' */
/* line 46, styles.scss */
.icon-star-empty:before {
  content: '\e803';
}

/* '' */
/* line 47, styles.scss */
.icon-exchange:before {
  content: '\e804';
}

/* '' */
/* line 49, styles.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  width: 1rem;
  text-align: center;
}

/*==============================================*/
/*=============== General ======================*/
/*==============================================*/
/* line 64, styles.scss */
html, body {
  height: 100%;
}

/* line 68, styles.scss */
html {
  background-color: #2a363b;
}

/* line 72, styles.scss */
body {
  background: none;
  position: relative;
}

/* line 76, styles.scss */
h1 {
  color: #00795c;
  font-size: 2.4rem;
  margin: 20px 0;
}

/* line 81, styles.scss */
h2 {
  color: white;
}

/* line 84, styles.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 89, styles.scss */
*:focus {
  outline: none;
}

/*removes blue glow from input*/
/*==============================================*/
/*=============== Content ===================*/
/*==============================================*/
/* line 95, styles.scss */
div.content {
  background-color: rgba(255, 255, 255, 0.63);
  padding: 10px 60px;
  border-radius: 6px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
/* line 102, styles.scss */
div.content p {
  color: #222b2f;
  font-size: 1.15em;
  line-height: 1.5em;
  padding-bottom: .3rem;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 109, styles.scss */
div.content a {
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
/* line 114, styles.scss */
div.content a:hover {
  color: #f76225;
}

/* line 120, styles.scss */
.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/*==============================================*/
/*=============== Nav/header ===================*/
/*==============================================*/
/* line 129, styles.scss */
header {
  width: 100%;
  top: 0;
  left: 0;
}

/* line 135, styles.scss */
nav {
  margin-bottom: 40px;
  background-color: #222b2f;
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 2.5rem;
  font-family: Helvetica Neue, Helvetica, Arial;
}
/* line 145, styles.scss */
nav .nav_contain {
  display: table;
  margin: 10px 0;
}
/* line 149, styles.scss */
nav .wrapper {
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  margin-left: auto;
  margin-right: auto;
  float: none;
  max-width: 940px;
}
/* line 161, styles.scss */
nav .branding {
  font-size: 2.5rem!important;
  line-height: 2.5rem;
  font-family: 'machinescript',arial,sans-serif;
  display: table-cell;
  vertical-align: middle;
}
/* line 169, styles.scss */
nav .branding a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
/* line 176, styles.scss */
nav .branding a:hover {
  color: #afaeae;
}
/* line 184, styles.scss */
nav ul {
  display: table-cell;
  vertical-align: middle;
}
/* line 188, styles.scss */
nav ul a {
  color: #afaeae;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
}
/* line 198, styles.scss */
nav ul a:hover {
  color: #f76225;
}
/* line 203, styles.scss */
nav ul a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}
/* line 210, styles.scss */
nav li {
  display: inline-block;
  float: right;
  padding: 10px;
}
/* line 216, styles.scss */
nav #menu-icon {
  display: none;
}

/*==============================================*/
/*================= Picker =====================*/
/*==============================================*/
/* line 227, styles.scss */
.platter select {
  font-size: 1.1rem;
  height: 40px;
  margin: 30px 0;
  position: relative;
}
/* line 234, styles.scss */
.platter .add-on {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

/* line 243, styles.scss */
.vert_center {
  position: absolute;
  width: 100%;
  top: 30%;
}

/* line 249, styles.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;
}

/*==============================================*/
/*================ Buttons =====================*/
/*==============================================*/
/* line 263, styles.scss */
button.hide {
  display: none !important;
}

/* line 266, styles.scss */
.submit_wrapper {
  display: table;
  width: 100%;
}

/* line 270, styles.scss */
a.submit {
  background: none repeat scroll 0 0 #369350;
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: white;
  cursor: pointer;
  display: table-cell;
  font-size: 1.4rem;
  font-family: Arial,sans-serif;
  font-weight: bold;
  height: 75px;
  line-height: 1.4rem;
  margin-bottom: 20px;
  margin-top: 10px;
  outline-color: transparent;
  outline-style: none;
  padding: 7px 10px;
  position: relative;
  text-transform: none;
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
  text-decoration: none;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  width: 100%;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
/* line 297, styles.scss */
a.submit:hover {
  background: none repeat scroll 0 0 #286e3c;
  color: white;
}
/* line 301, styles.scss */
a.submit:active {
  background-color: #215b32;
}

/* line 306, styles.scss */
button.tool {
  color: white;
  border: none;
  width: 15.5%;
  height: 50px;
  float: left;
  font-size: 1.1rem;
  background-color: #979797;
  box-shadow: -1px 0 0 #616060;
}
/* line 319, styles.scss */
button.tool.active {
  background-color: #616060 !important;
}
/* line 322, styles.scss */
button.tool:hover {
  background-color: #8a8a8a;
}
/* line 325, styles.scss */
button.tool#rst {
  background-color: #a05553 !important;
  margin-left: 3.5%;
  box-shadow: none;
}
/* line 330, styles.scss */
button.tool#rst:hover {
  background-color: #8f4c4a !important;
}
/* line 334, styles.scss */
button.tool#reverse {
  margin-left: 3.5%;
}
/* line 338, styles.scss */
button.tool#fav.fav_active {
  color: #ffff94;
}

/* line 344, styles.scss */
.toolbar {
  width: 100%;
}

/*==============================================*/
/*=========== Results Table (mine) =============*/
/*==============================================*/
/* line 353, styles.scss */
.table-header {
  margin-top: 30px;
  margin-bottom: 0 !important;
}
/* line 357, styles.scss */
.table-header tr {
  font-size: 1.1rem;
}
/* line 361, styles.scss */
.table-header td {
  text-align: center;
  width: 50%;
}
/* line 365, styles.scss */
.table-header td.chevron {
  width: 10%!important;
  padding: 0;
}
/* line 369, styles.scss */
.table-header td.station {
  width: 45%;
}
/* line 374, styles.scss */
.table-header .station {
  font-size: 1.4rem;
  color: white;
  background-color: #0055a0;
}
/* line 379, styles.scss */
.table-header .mf {
  background-color: #0055a0 !important;
}
/* line 382, styles.scss */
.table-header .bs {
  background-color: #f76225 !important;
}

/* line 387, styles.scss */
.table-wrap {
  max-height: 600px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 393, styles.scss */
.table_and_tools {
  margin-top: 20px;
  margin-bottom: 0;
}

/* line 400, styles.scss */
.times {
  background-color: white;
  color: black;
}
/* line 404, styles.scss */
.times tr {
  font-size: 1.1rem;
}
/* line 408, styles.scss */
.times td {
  text-align: center;
  width: 50%;
}

/* line 414, styles.scss */
.warn {
  color: #a1504d !important;
  font-weight: bold;
}

/* line 419, styles.scss */
.pointer {
  background-color: #fcfcb0 !important;
}

@media only screen and (max-width: 40.062em) {
  /* line 425, styles.scss */
  .table-wrap {
    max-height: 1200px;
  }

  /*keeps table fixed to bottom for most mobile devices*/
}
/*==============================================*/
/*===== Results Table (twitter bootstrap) ======*/
/*==============================================*/
/* line 437, styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 442, styles.scss */
.table-hide {
  display: none;
}

/* line 445, styles.scss */
table {
  max-width: 100%;
  background-color: transparent;
}

/* line 449, styles.scss */
th {
  text-align: left;
}

/* line 452, styles.scss */
.table {
  width: 100%;
}

/* line 460, styles.scss */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

/* line 465, styles.scss */
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

/* line 474, styles.scss */
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

/* line 477, styles.scss */
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* line 480, styles.scss */
.table .table {
  background-color: #f9f9f9;
}

/* line 488, styles.scss */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

/* line 493, styles.scss */
.table-striped > tbody > tr:nth-child(odd),
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #e4e4e4;
}

/* line 497, styles.scss */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

/* line 500, styles.scss */
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

/* line 506, styles.scss */
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

/* line 522, styles.scss */
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

/* line 528, styles.scss */
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}

/* line 542, styles.scss */
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

/* line 548, styles.scss */
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

/* line 562, styles.scss */
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

/* line 568, styles.scss */
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

/* line 582, styles.scss */
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

/* line 588, styles.scss */
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}

/* line 602, styles.scss */
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

/* line 608, styles.scss */
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

@media (max-width: 767px) {
  /* line 612, styles.scss */
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  /* line 621, styles.scss */
  .table-responsive > .table {
    margin-bottom: 0;
  }

  /* line 629, styles.scss */
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

  /* line 632, styles.scss */
  .table-responsive > .table-bordered {
    border: 0;
  }

  /* line 640, styles.scss */
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  /* line 648, styles.scss */
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  /* line 654, styles.scss */
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
/*==============================================*/
/*=============== BSL/MFL Switch ===============*/
/*==============================================*/
/* line 664, styles.scss */
.station_label {
  display: inline-block;
  color: #afaeae;
  font-size: 22px;
}
/* line 670, styles.scss */
.station_label.mf {
  color: #0055a0;
}
/* line 673, styles.scss */
.station_label.bs {
  color: #f76225;
}

/* line 677, styles.scss */
.switch-wrapper {
  display: inline-block;
}

/* line 682, styles.scss */
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 686, styles.scss */
.onoffswitch-checkbox {
  display: none;
}

/* line 689, styles.scss */
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  background-color: #afaeae;
}

/* line 696, styles.scss */
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

/* line 703, styles.scss */
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 713, styles.scss */
.onoffswitch-inner:before {
  content: " ";
  padding-left: 10px;
}

/* line 717, styles.scss */
.onoffswitch-inner:after {
  padding-right: 10px;
  text-align: right;
}

/* line 721, styles.scss */
.onoffswitch-switch {
  width: 21px;
  margin: 4.5px;
  background: #FFFFFF;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

/* line 729, styles.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* line 732, styles.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/*==============================================*/
/*============== Media queries =================*/
/*==============================================*/
@media only screen and (max-width: 40.062em) {
  /* line 742, styles.scss */
  html {
    background: url(../img/bg_mobile.jpg) no-repeat center center fixed;
    background-color: #2a363b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* line 751, styles.scss */
  .table-wrap {
    max-height: 1200px;
  }

  /*keeps table fixed to bottom for most mobile devices*/
  /* line 755, styles.scss */
  #menu-icon {
    display: inline-block !important;
    font-size: 2.5em;
    margin-right: 30px;
    line-height: 2.5em;
  }

  /* line 762, styles.scss */
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
  }

  /* line 774, styles.scss */
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  /* line 781, styles.scss */
  nav:hover ul {
    display: block;
  }

  /* line 785, styles.scss */
  button.tool {
    font-size: 1em;
  }

  /* line 789, styles.scss */
  div.content {
    padding: 10px 25px;
    border-radius: 4px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  /* line 795, styles.scss */
  div.content h1 {
    margin: 10px 0;
    font-size: 2.2rem;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 809, styles.scss */
  html {
    background: url(../img/bg1.jpg) no-repeat center center fixed;
    background-color: #2a363b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* line 817, styles.scss */
  td.station {
    width: 47.5%;
  }

  /* line 820, styles.scss */
  td.chevron {
    width: 5%;
    padding: 0;
  }
}
