/*==============================================*/
/*================ Colors ======================*/
/*==============================================*/
/*==============================================*/
/*================= Fonts ======================*/
/*==============================================*/
@font-face {
  font-family: 'machinescript';
  src: url("../fonts/machinescript.ttf");
  /* IE9 Compat Modes */
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 42, styles.scss */
.icon-ccw:before {
  content: '\e800';
}

/* '' */
/* line 43, styles.scss */
.icon-menu:before {
  content: '\e801';
}

/* '' */
/* line 44, styles.scss */
.icon-star:before {
  content: '\e802';
}

/* '' */
/* line 45, styles.scss */
.icon-star-empty:before {
  content: '\e803';
}

/* '' */
/* line 46, styles.scss */
.icon-exchange:before {
  content: '\e804';
}

/* '' */
/* line 48, styles.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  width: 1rem;
  text-align: center;
}

/*==============================================*/
/*=============== General ======================*/
/*==============================================*/
/* line 62, styles.scss */
h1 {
  color: white;
}

/* line 67, styles.scss */
html, body {
  height: 100%;
}

/* line 71, styles.scss */
html {
  background-color: #2a363b;
}

/* line 74, styles.scss */
body {
  background: none;
  position: relative;
}

/* line 79, styles.scss */
.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 85, styles.scss */
*:focus {
  outline: none;
}

/*removes blue glow from input*/
/*==============================================*/
/*=============== Nav/header ===================*/
/*==============================================*/
/* line 91, styles.scss */
header {
  width: 100%;
  top: 0;
  left: 0;
}

/* line 97, styles.scss */
nav {
  margin-bottom: 40px;
  background-color: #222b2f;
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 2.5rem;
  font-family: Helvetica Neue, Helvetica, Arial;
}
/* line 107, styles.scss */
nav .nav_contain {
  display: table;
  margin: 10px 0;
}
/* line 111, styles.scss */
nav .wrapper {
  position: relative;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  margin-left: auto;
  margin-right: auto;
  float: none;
  max-width: 940px;
}
/* line 123, styles.scss */
nav .branding {
  font-size: 2.5rem!important;
  line-height: 2.5rem;
  font-family: 'machinescript',arial,sans-serif;
  color: white;
  display: table-cell;
  vertical-align: middle;
}
/* line 132, styles.scss */
nav a {
  color: #afaeae;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}
/* line 140, styles.scss */
nav a:hover#menu-icon {
  background-color: #444;
  border-radius: 4px 4px 0 0;
}
/* line 145, styles.scss */
nav ul {
  display: table-cell;
  vertical-align: middle;
}
/* line 150, styles.scss */
nav li {
  display: inline-block;
  float: right;
  padding: 10px;
}
/* line 156, styles.scss */
nav #menu-icon {
  display: none;
}

/*==============================================*/
/*================= Picker =====================*/
/*==============================================*/
/* line 167, styles.scss */
.platter select {
  font-size: 1.1rem;
  height: 40px;
  margin: 30px 0;
  position: relative;
}
/* line 174, styles.scss */
.platter .add-on {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

/* line 183, styles.scss */
.vert_center {
  position: absolute;
  width: 100%;
  top: 30%;
}

/* line 189, styles.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;
}

/*==============================================*/
/*================ Buttons =====================*/
/*==============================================*/
/* line 203, styles.scss */
button.hide {
  display: none !important;
}

/* line 206, styles.scss */
.submit_wrapper {
  display: table;
  width: 100%;
}

/* line 210, styles.scss */
a.submit {
  background: none repeat scroll 0 0 #369350;
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  color: white;
  cursor: pointer;
  display: table-cell;
  font-size: 1.4rem;
  font-family: Arial,sans-serif;
  font-weight: bold;
  height: 75px;
  line-height: 1.4rem;
  margin-bottom: 20px;
  margin-top: 10px;
  outline-color: transparent;
  outline-style: none;
  padding: 7px 10px;
  position: relative;
  text-transform: none;
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
  text-decoration: none;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  width: 100%;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}
/* line 237, styles.scss */
a.submit:hover {
  background: none repeat scroll 0 0 #286e3c;
  color: white;
}
/* line 241, styles.scss */
a.submit:active {
  background-color: #215b32;
}

/* line 246, styles.scss */
button.tool {
  color: white;
  border: none;
  width: 15.5%;
  height: 50px;
  float: left;
  font-size: 1.1rem;
  background-color: #979797;
  box-shadow: -1px 0 0 #616060;
}
/* line 259, styles.scss */
button.tool.active {
  background-color: #616060 !important;
}
/* line 262, styles.scss */
button.tool:hover {
  background-color: #8a8a8a;
}
/* line 265, styles.scss */
button.tool#rst {
  background-color: #a05553 !important;
  margin-left: 3.5%;
  box-shadow: none;
}
/* line 270, styles.scss */
button.tool#rst:hover {
  background-color: #8f4c4a !important;
}
/* line 274, styles.scss */
button.tool#reverse {
  margin-left: 3.5%;
}
/* line 278, styles.scss */
button.tool#fav.fav_active {
  color: #ffff94;
}

/* line 284, styles.scss */
.toolbar {
  width: 100%;
}

/*==============================================*/
/*=========== Results Table (mine) =============*/
/*==============================================*/
/* line 293, styles.scss */
.table-header {
  margin-top: 30px;
  margin-bottom: 0 !important;
}
/* line 297, styles.scss */
.table-header tr {
  font-size: 1.1rem;
}
/* line 301, styles.scss */
.table-header td {
  text-align: center;
  width: 50%;
}
/* line 305, styles.scss */
.table-header td.chevron {
  width: 10%!important;
  padding: 0;
}
/* line 309, styles.scss */
.table-header td.station {
  width: 45%;
}
/* line 314, styles.scss */
.table-header .station {
  font-size: 1.4rem;
  color: white;
}
/* line 318, styles.scss */
.table-header .mf {
  background-color: #0055a0 !important;
}
/* line 321, styles.scss */
.table-header .bs {
  background-color: #f76225 !important;
}

/* line 327, styles.scss */
.table-wrap {
  max-height: 600px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* line 333, styles.scss */
.table_and_tools {
  margin-top: 20px;
  margin-bottom: 0;
}

/* line 340, styles.scss */
.times {
  background-color: white;
  color: black;
}
/* line 344, styles.scss */
.times tr {
  font-size: 1.1rem;
}
/* line 348, styles.scss */
.times td {
  text-align: center;
  width: 50%;
}

/* line 354, styles.scss */
.warn {
  color: #a1504d !important;
  font-weight: bold;
}

/* line 359, styles.scss */
.pointer {
  background-color: #fcfcb0 !important;
}

@media only screen and (max-width: 40.062em) {
  /* line 365, styles.scss */
  .table-wrap {
    max-height: 1200px;
  }

  /*keeps table fixed to bottom for most mobile devices*/
}
/*==============================================*/
/*===== Results Table (twitter bootstrap) ======*/
/*==============================================*/
/* line 377, styles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 382, styles.scss */
.table-hide {
  display: none;
}

/* line 385, styles.scss */
table {
  max-width: 100%;
  background-color: transparent;
}

/* line 389, styles.scss */
th {
  text-align: left;
}

/* line 392, styles.scss */
.table {
  width: 100%;
}

/* line 400, styles.scss */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}

/* line 405, styles.scss */
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

/* line 414, styles.scss */
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

/* line 417, styles.scss */
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* line 420, styles.scss */
.table .table {
  background-color: #f9f9f9;
}

/* line 428, styles.scss */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

/* line 433, styles.scss */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #e4e4e4;
}

/* line 437, styles.scss */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

/* line 440, styles.scss */
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

/* line 446, styles.scss */
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

/* line 462, styles.scss */
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

/* line 468, styles.scss */
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}

/* line 482, styles.scss */
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

/* line 488, styles.scss */
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

/* line 502, styles.scss */
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

/* line 508, styles.scss */
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

/* line 522, styles.scss */
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

/* line 528, styles.scss */
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}

/* line 542, styles.scss */
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

/* line 548, styles.scss */
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

@media (max-width: 767px) {
  /* line 552, styles.scss */
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }

  /* line 561, styles.scss */
  .table-responsive > .table {
    margin-bottom: 0;
  }

  /* line 569, styles.scss */
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }

  /* line 572, styles.scss */
  .table-responsive > .table-bordered {
    border: 0;
  }

  /* line 580, styles.scss */
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  /* line 588, styles.scss */
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  /* line 594, styles.scss */
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
/*==============================================*/
/*=============== BSL/MFL Switch ===============*/
/*==============================================*/
/* line 604, styles.scss */
.station_label {
  display: inline-block;
  color: #afaeae;
  font-size: 22px;
}
/* line 610, styles.scss */
.station_label.mf {
  color: #0055a0;
}
/* line 613, styles.scss */
.station_label.bs {
  color: #f76225;
}

/* line 617, styles.scss */
.switch-wrapper {
  display: inline-block;
}

/* line 622, styles.scss */
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 626, styles.scss */
.onoffswitch-checkbox {
  display: none;
}

/* line 629, styles.scss */
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
  background-color: #afaeae;
}

/* line 636, styles.scss */
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

/* line 643, styles.scss */
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 653, styles.scss */
.onoffswitch-inner:before {
  content: " ";
  padding-left: 10px;
}

/* line 657, styles.scss */
.onoffswitch-inner:after {
  padding-right: 10px;
  text-align: right;
}

/* line 661, styles.scss */
.onoffswitch-switch {
  width: 21px;
  margin: 4.5px;
  background: #FFFFFF;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

/* line 669, styles.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* line 672, styles.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/*==============================================*/
/*============== Media queries =================*/
/*==============================================*/
@media only screen and (max-width: 40.062em) {
  /* line 682, styles.scss */
  html {
    background: url(../img/bg_mobile.jpg) no-repeat center center fixed;
    background-color: #2a363b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* line 691, styles.scss */
  .table-wrap {
    max-height: 1200px;
  }

  /*keeps table fixed to bottom for most mobile devices*/
  /* line 695, styles.scss */
  #menu-icon {
    display: inline-block !important;
    font-size: 2.5em;
    margin-right: 30px;
    line-height: 2.5em;
  }

  /* line 702, styles.scss */
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
  }

  /* line 714, styles.scss */
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }

  /* line 721, styles.scss */
  nav:hover ul {
    display: block;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 729, styles.scss */
  html {
    background: url(../img/bg1.jpg) no-repeat center center fixed;
    background-color: #2a363b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* line 737, styles.scss */
  td.station {
    width: 47.5%;
  }

  /* line 740, styles.scss */
  td.chevron {
    width: 5%;
    padding: 0;
  }
}
